body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  header {
    background-color: chocolate;
    padding: 20px;
    color: white;
    text-align: center;
  }

  section {
    background-color: beige;
    padding: 20px;
    margin: 20px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    border: 1px solid #333;
    padding: 10px;
    margin-bottom: 10px;
  }

  footer {
    background-color: chocolate;
    padding: 20px;
    color: white;
    text-align: center;
  }

 