p{
color: green;
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: blue;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
.image-container{
    width: 500; /* Set width of container */
    height: 500; /* Set height of container */
}
.image-container img{
    max-width: 100%; /* Make image fill its container */
    max-height: 100%; /* Make image fill its container */
    border: 5px solid green; /* Add green border around the image */
}